.header {
    height: 40vw;
    margin: 30px auto;
    background: url('../../assets/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 30%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    color: white;
    font-size: max(4.5vw, 22px);
    font-weight: 500;
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.header-contents button:hover {
    transform: scale(1.2);
    background: white;
    color: #F77502;
    border: #F77502;
}

@media (max-width:1050px)
{
    .header{
        height: 38vw;
        
    }
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width:750px)
{
    
    .header-contents{
        max-width: 55%;
    }

    .header-contents h2
    {
        font-size: 18px;
    }

    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 1px 10px;
        font-size: 10px;

        
    }
}